.app {
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.auth {
  display: flex;
  gap: 1px;
}

.update {
  display: flex;
  gap: 20px;
}